{% extends 'layout.html' %}
{% block content %}
    <div class="hackernews">
        {% for top_story in top_stories %}
            <div class="hackernews-post">
                <div class="score">
                    {{ top_story.score }}
                </div>
                <div>
                    <a
                        class="title"
                        href="{{ top_story.url }}"
                    >
                        {{ top_story.title }}
                    </a>
                    <div>
                        <a
                            class="comments"
                            href="{{ top_story.comments_url }}"
                        >
                            {{ top_story.number_comments }} comments
                        </a>
                        <span class="time-ago">
                            submitted {{ top_story.created|time_ago }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
