{% extends 'layout.html' %}
{% block content %}
    <div class="hackernews">
        {% for topStory in topStories %}
            <div class="hackernews-post">
                <div class="score">
                    {{ topStory.score }}
                </div>
                <div>
                    <a
                        class="title"
                        href="{{ topStory.url }}"
                    >
                        {{ topStory.title }}
                    </a>
                    <div>
                        <a
                            class="comments"
                            href="{{ topStory.comments_url }}"
                        >
                            {{ topStory.number_comments }} comments
                        </a>
                        <span class="time-ago">
                            submitted {{ topStory.created|time_ago }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
