{% extends 'layout.html' %}
{% block content %}
    <div class="misc">
        <h2>Weather</h2>
        <div class="weather">
            {% for name, periods in forecast.items() %}
                <div class="day">
                    <div class="periods">
                        {% for period in periods %}
                            <div class="period">
                                <img
                                    class="icon"
                                    src="{{ url_for('static', filename='img/weather/' + period.icon + '.svg') }}"
                                    title="{{ period.description }}"
                                >
                                <div class="temperature">
                                    {{ period.temperature }}°
                                </div>
                                <div class="hour">
                                    {{ period.hour }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="name">
                        {{ name }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>Plants</h2>
        <table class="plants">
            <thead>
                <tr>
                    <th class="plants-name">Name</th>
                    <th class="plants-watering">Last watered</th>
                    <th class="plants-watering"></th>
                </tr>
            </thead>
            <tbody>
                {% for plant in plants %}
                <tr>
                    <td>{{ plant.name }}</td>
                    <td>{{ plant.last_watered|time_ago }}</td>
                    <td>
                        {% if plant.needs_watering %}
                            <button type="button" class="plants-water">
                                Water
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
