{% extends 'layout.html' %}
{% block content %}
    <div class="reddit">
        <div class="subreddits">
            {% for subreddit in subreddits %}
                <div class="{% if loop.index == 1 %}active{%endif %}">
                    {{ subreddit.name }}
                </div>
            {% endfor %}
        </div>
        <div class="reddit-posts">
            {% for subreddit in subreddits %}
                <div data-subreddit="{{ subreddit.name }}">
                    {% for post in subreddit.posts %}
                        <div class="reddit-post">
                            <div class="score">
                                {{ post.score }}
                            </div>
                            <div>
                                <a
                                    class="title"
                                    href="{{ post.url }}"
                                >
                                    {{ post.title }}
                                </a>
                                <div>
                                    <a
                                        class="comments"
                                        href="{{ post.comments_url }}"
                                    >
                                        {{ post.number_comments }} comments
                                    </a>
                                    <span class="time-ago">
                                        submitted {{ post.created|time_ago }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
